<section class="stories-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-sm-12">
        <div class="stories-section-contents">
          <h3 class="font-weight-bolder">Lorem Ipsum Dolor Sit Amet</h3>
          <p class="stories-para">
            At iam decimum annum in spelunca iacet. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit.
          </p>
          <div>
            <a class="btn m-seconday-btn" href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12">
        <img class="stories-images" src="assets/images/16.png">
      </div>
    </div>
  </div>
</section>