<section class="inspiration-section">
  <div class="text-center">
    <h3 class="font-weight-bolder">Inspirations</h3>
    <p class="insp-section-summary">
      At iam decimum annum in spelunca iacet. Cur tantas regiones<br> barbarorum pedibus obiit, tot maria transmisit.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="insp-card" style="background-image: url(assets/images/9.png);">
          <div class="overlay"></div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Cur tantas regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face1.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face2.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face3.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="insp-card" style="background-image: url(assets/images/10.png);">
          <div class="overlay"></div>
          <div class="insp-card-play-btn">
            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="27" cy="27" r="26" stroke="white" stroke-width="2" />
              <path d="M22 18V38L35 27.7872L22 18Z" stroke="white" stroke-width="2" />
            </svg>
          </div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face4.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face5.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face6.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="insp-card" style="background-image: url(assets/images/11.png);">
          <div class="overlay"></div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face4.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face5.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face6.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="insp-card" style="background-image: url(assets/images/12.png);">
          <div class="overlay"></div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face4.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face5.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face6.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="insp-card" style="background-image: url(assets/images/13.png);">
          <div class="overlay"></div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face4.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face5.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face6.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="insp-card" style="background-image: url(assets/images/14.png);">
          <div class="overlay"></div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face4.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face5.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face6.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="insp-card" style="background-image: url(assets/images/15.png);">
          <div class="overlay"></div>
          <div class="insp-card-type">At iam decimum</div>
          <div class="insp-card-title">Cur tantas regiones barbarorum</div>
          <div>
            <img class="insp-card-face-pile" src="assets/images/face1.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face2.png" alt="">
            <img class="insp-card-face-pile" src="assets/images/face3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>