<div class="m-hero-search-bar">
  <div class="input-group">
    <input type="text" class="form-control m-hero-search-box" placeholder="Search" aria-label="Search" aria-describedby="m-search-button">
    <div class="input-group-append">
      <button class="btn" type="button" id="m-search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 46.743 46.743">
          <g id="Group_1" data-name="Group 1" transform="translate(-722 -284)">
            <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(722 284)" fill="none" stroke="#c4c4c4"
              stroke-width="5">
              <circle cx="19" cy="19" r="19" stroke="none" />
              <circle cx="19" cy="19" r="16.5" fill="none" />
            </g>
            <line id="Line_1" data-name="Line 1" x2="11" y2="11" transform="translate(753.5 315.5)" fill="none"
              stroke="#c4c4c4" stroke-linecap="round" stroke-width="6" />
          </g>
        </svg>

      </button>
    </div>
  </div>
</div>