<section class="newsletter-section">
  <div class="container">
    <div class="newsletter-container">
      <div class="row">
        <div class="col-lg-6">
          <div class="newsletter-content">
            <h2 class="font-weight-bolder">
              Sign Up Our Newsletter
            </h2>
            <p>
              At iam decimum annum in spelunca iacet. Cur tantas regiones barbarorum pedibus obiit, tot maria
              transmisit.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="newsletter-form-container">
            <div class="newsletter-form-wrapper">
              <div class="newsletter-form">
                <div class="form-group">
                  <input placeholder="Name" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <input placeholder="Email" type="email" class="form-control">
                </div>
                <div class="form-group">
                  <input placeholder="Phone Number" type="text" class="form-control">
                </div>
              </div>
              <button class="btn m-seconday-btn newsletter-button">SIGN UP NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>