<section class="app-download-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 hidden-sm-down">
        <div>
          <img src="assets/images/dummy-phone.svg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="app-download-content">
          <h3 class="font-weight-bolder">Download Our App</h3>
          <p class="app-download-para">At iam decimum annum in spelunca iacet. Cur tantas
            barbarorum pedibus obiit, tot maria transmisit.</p>
          <div>
            <a href="#">
              <img width="195px" src="assets/images/apple-app-store.svg">
            </a>
            <a href="#" class="ml-3">
              <img width="195px" src="assets/images/google-play-store.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 hidden-sm-up">
        <div>
          <img src="assets/images/dummy-phone.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>